.list-container {
  padding: 20px;
  height: 100vh;

  ::ng-deep #cdk-viewport {
    height: 90vh;
    width: 100vw;

    .cdk-virtual-scroll-content-wrapper {
      display: flex !important;
      flex-wrap: wrap !important;
      justify-content: center !important;

      .card {
        margin: 2.5rem 1rem;
        width: 200px;
      }
    }
  }
}