<div>
  <mat-card class="card-container bg-{{types[0]}}">
    <div class="card-header">
      <div class="card-photo">
        <img *ngIf="photo; else pokeball" src={{photo}} alt={{name}}>
        <ng-template #pokeball>
          <img class="pokeball" src="assets/pokeball-empty.svg">
        </ng-template>
      </div>
    </div>
    <mat-card-content class="card-body">
      <div class="card-details">
        <span class="pokemon-id">#{{id}}</span>
        <span [ngClass]="name.length < 14 ? 'pokemon-name-short' : 'pokemon-name-long'">{{name | titlecase}}</span>
      </div>
      <mat-chip-list class="card-types">
        <mat-chip class="type-{{type}}" *ngFor="let type of types">{{type | titlecase}}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>
