
<div class="dialog-container bg-{{types[0]}}">
  <button class="close-dialog-button" mat-dialog-close>Close</button>
  <div class="dialog-header">
    <span class="pokemon-name">{{name | titlecase}}</span>
    <mat-chip-list class="pokemon-type">
      <mat-chip class="type-{{type}}" *ngFor="let type of types">{{type | titlecase}}</mat-chip>
    </mat-chip-list>
  </div>
  <div class="dialog-body">
    <div>
      <div class="pokemon-details"></div>
      <div class="pokemon-photo">
        <img src={{photo}} alt={{name}}>
      </div>
      <div class="pokemon-stats-chart" #statsChart></div>
    </div>
  </div>
  <div class="dialog-footer"></div>
</div>