.header-container {
  position: absolute;
  width: 100%;
  min-height: 65px;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  z-index: 8;

  .centered {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .logo {
      width: 55px;
      z-index: 9;
    }
  }
}